@model List<ApplicationUser>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users</h2>
		</div>
	</div>
    <br /><br />


<table class="table table-bordered table-striped" align="center" style="width:70%">
    <thead>
        <tr>
            <th>
                Name
			</th>
            <th>
                Email
			</th>
		</tr>
	</thead>
    <tbody>
        @foreach(var user in Model)
        {
            @if(user.Id != User.FindFirstValue("id"))
            {
                <tr>
                <td align = "center">
                    @user.UserName
				</td>
                <td align = "center">
                    @user.Email
				</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-controller="Roles" asp-action="Index" asp-route-id="@user.Id"
                        class="btn btn-primary">Roles</a>
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
					</div>
				</td>
                </tr>
            }              
        }
    </tbody>
</table>
</div>
