@using Core.Constants
@using System.Security.Claims

@if (User.HasClaim(c => c.Type == ClaimTypes.Role && c.Value == "Administrator"))
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Users">Users</a>
    </li>
}
